@import url('https://fonts.googleapis.com/css?family=DM+Sans:wght@400,700&display=swap');

:root {
    --primary-soft-red: hsl(10, 79%, 65%);
    --primary-cyan: hsl(186, 34%, 60%);
    --neutral-dark-brown: hsl(25, 47%, 15%);
    --neutral-medium-brown: hsl(28, 10%, 53%);
    --neutral-cream: hsl(27, 66%, 92%);
    --neutral-very-pale-orange: hsl(33, 100%, 98%);
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 18px;
    font-family: 'DM Sans';
    background-color: var(--neutral-cream);
}

.expense-chart-container{
    width: 90vw;
    padding-top: 2rem;
    margin: 0 auto;
}

.my-balance-container {
    background-color: var(--primary-soft-red);
    color: var(--neutral-very-pale-orange);
    border-radius: 1rem;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

.my-balance-container img {
    height: 2.75rem;
}

.my-balance {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-size: 1rem;
}

.my-balance-amount {
    font-size: 1.5rem;
}

.bold {
    font-weight: 700;
}

.spending-container {
    background-color: var(--neutral-very-pale-orange);
    margin-top: 1rem;
    border-radius: 1rem;
    padding: 1.25rem;
}

.spending-last-week h2 {
    font-size: 1.5rem;
    padding-bottom: 3rem;
}

hr {
    border: none;
    height: .125rem;
    margin: 1rem 0;
    background-color: var(--neutral-cream);
}

.day-label {
    font-size: .75rem;
    font-weight: 700;
    color: var(--neutral-medium-brown);
}

.spending-chart {
    display: flex;
    justify-content: space-between;
}

.spending-bar-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: .5rem;
}

.spending-bar {
    width: 2rem;
    border-radius: 5px;
    background-color: var(--primary-soft-red);
}

.mon-spending-bar {
    height: 33.33px;
}

.tue-spending-bar {
    height: 66.66px;
}

.wed-spending-bar {
    height: 100px;
}

.thu-spending-bar {
    height: 50px;
}

.fri-spending-bar {
    height: 20px;
}

.sat-spending-bar {
    height: 70px;
}

.sun-spending-bar {
    height: 50px;
}

.highest-day {
    background-color: var(--primary-cyan)!important;
}

.spending-stats {
    display: flex;
    justify-content: space-between;
}

.spending-this-month, .spending-difference {
    display: flex;
    flex-direction: column;
}

.spending-difference {
    justify-content: end;
    align-items: flex-end;
    font-size: .825rem;
    font-weight: 700;
    line-height: .625rem;
}

.spending-month-label {
    font-size: .825rem;
    font-weight: 400;
    padding: .5rem 0;
    color: var(--neutral-medium-brown);
}

.month-spending-amount {
    font-size: 2rem;
    font-weight: 700;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
